<ul class="nav-item">
  <% if (!locals.isAdmin) { %>
    <li><a href="/">샵</a></li>
    <li><a href="/cart">장바구니</a></li>
  <% } %> 

  <% if (locals.isAuth && !locals.isAdmin) { %>
    <li><a href="/orders">주문 목록</a></li>
  <% } %> 
  
  <% if (locals.isAdmin) {%>
    <li><a href="/admin/products">상품 관리</a></li>
    <li><a href="/admin/orders">주문 관리</a></li>
  <% } %>

  <% if (!locals.isAuth) { %>
    <li><a href="/signup">회원 가입</a></li>
    <li><a href="/login">로그인</a></li>
  <% } %>

  <% if ( locals.isAuth ) {%>
  <li>
    <form action="/logout" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
      <button>Logout</button>
    </form>
  </li>
  <% } %>
</ul>