<%- include('includes/head', {pageTitle:'Errpr'}) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>ERROR!</h1>
    <p>에러 발생으로 잠시 후 다시 해주세요!</p>
    <p><a class="btn" href="/">홈페이지 이동</a></p>
  </main>
<%- include('includes/footer') %>