<%- include('../../shared/includes/head', {pageTitle:'All products'}) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>전체 상품</h1>
    <p></p>
  </main>
<%- include('../../shared/includes/footer') %>